body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }

  .login {
    background-color: #b95b6f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .login:hover {
    transform: scale(1.05);
  }

  input[type="text"],
  input[type="password"],
  button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }

  input[type="text"]:hover,
  input[type="password"]:hover,
  button:hover {
    transform: scale(1.05);
    border-color: #888;
  }

  button {
    cursor: pointer;
    background-color: #ffa3b5;
    border: none;
    color: white;
  }




